<IfModule mod_rewrite.c>
	Options -Multiviews
	RewriteEngine On
	RewriteBase /Router/public
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !=/favicon.ico
	RewriteRule ^(.*)$ /index.php?path=$1 [QSA,L]
</IfModule>